@import "helpers/fonts.scss";
@import "helpers/variables.scss";
@import "./reusable.scss";
@import "helpers/transitions.scss";


html,
body{
    margin: 0;
    padding: 0;
    max-height: 100vh;
    width: 100vw;
    display: flex;
    background-color: $main__background--color;
    font-family: $base-font;
    font-size: 75%; //allows us to use REM
    font-size: 14px;
    overflow: hidden;
}


#root{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-self: center;
    align-self: center;
}
.App{
    width: 100%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
.page{
    position: absolute;
    height: 100%;
    top:0;
    right: 0;
    left: 0;
}
a{
    color: $link-color;
}

li{
    list-style-type: none;
    padding: 10px;
}
h2{
    font-family: $h2-font;
    font-size: 36px;
}
// Forms
#SignInUp{
    width: 510px;
    padding: 15px;
}
form{
    width: 100%;
}
form *{
    border-radius: 0;
}

input{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: $form-field-border;
    font-size: $form-field-font-size;

}

button{
    padding: 5px;
    height: 50px;
    width: 150px;
    background: black;
    border: 0;
    font-size: 14px;
    font-family: $button-font;
    color: white;
}

label{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: $label-font;
    font-size: 16px;
    text-transform: capitalize;
}

//navbar
.top-nav{
    width: 100vw;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    ul{
        margin: 0 100px;
        display: flex;
        justify-content: space-between;
    }

}
#nav-logo-container{
    background: #000;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__textLink{
    color: $nav-link-color;
    font-family: 'Poppins';
    font-size: 20px;
    text-decoration: none;
}

.nav__textLink--button{
    padding: 10px 20px;
    background: $light-blue;
    color: #FFF;
    font-family: 'Poppins-Medium';
    border-radius: 23px;

}

//landing page

#date-counter{
    font-family: 'Poppins-Bold';
    font-size: 62px;
}