input[type=range] {
    -webkit-appearance: none;
    border: 0;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: $slider-track;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 100%;
    width: 50%;
    background: $red;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $slider-track;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    background: $slider-track;
    border-radius: 0;
  }
  input[type=range]::-moz-range-thumb {
    height: 8px;
    width: 50%;
    border: 0;
    border-radius: 0;
    background: $red;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: $slider-track;
    border: 0px solid #000101;
    border-radius: 50px;
  }
  input[type=range]::-ms-fill-upper {
    background: $slider-track;
    border-radius: 50px;
  }
  input[type=range]::-ms-thumb {
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: $red;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $slider-track;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: $slider-track;
  }
  
  body {
    padding: 30px;
  }
  