@font-face {
  font-family: 'Poppins-Black';
  src: url("../fonts/Poppins-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins-Black-Italic';
  src: url("../fonts/Poppins-BlackItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins-Bold';
  src: url("../fonts/Poppins-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins-Bold-Italic';
  src: url("../fonts/Poppins-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins-Extra-Bold-Italic';
  src: url("../fonts/Poppins-ExtraBoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins-Extra-Light';
  src: url("../fonts/Poppins-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins-Extra-Light-Italic';
  src: url("../fonts/Poppins-ExtraLightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins-Italic';
  src: url("../fonts/Poppins-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins-Light-Italic';
  src: url("../fonts/Poppins-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins-Medium';
  src: url("../fonts/Poppins-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins-Medium-Italic';
  src: url("../fonts/Poppins-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins-Semi-Bold';
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins-Semi-Bold-Italic';
  src: url("../fonts/Poppins-SemiBoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins-Thin';
  src: url("../fonts/Poppins-Thin.ttf") format("truetype"); }

@font-face {
  font-family: 'Poppins-Thin-Italic';
  src: url("../fonts/Poppins-ThinItalic.ttf") format("truetype"); }

.background-white {
  background: #FFF; }

.background-black {
  background: #000; }

.background-gradient {
  background-image: linear-gradient(#5AC8FA, white);
  background-attachment: fixed; }

.background-gradient-grey {
  background-image: linear-gradient(to right, #EEE, white);
  background-attachment: fixed; }

.display-flex {
  display: flex; }

.pos-abs {
  position: absolute !important; }

.page-content {
  margin: 0 0 0 100px;
  width: 100%;
  height: 100%; }

.main-container {
  width: 100%;
  height: 100%; }

.abs-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.abs-bottom-centered {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }

.flex-col {
  flex-direction: column; }

.justify-center {
  justify-content: center; }

.align-center {
  align-items: center; }

.pull-left {
  align-self: flex-start; }

.pull-right {
  align-self: flex-end; }

.w-100 {
  width: 100% !important; }

.h-100 {
  height: 100% !important; }

.padding-10 {
  padding: 10%; }

.drop-shadow {
  box-shadow: 0px 5px 5px #888888; }

.slide-in-left {
  right: 100%;
  left: auto;
  transition: all 0.5s ease; }

.shrink-to-size {
  animation: shrink-to-size 3s linear; }

@keyframes shrink-to-size {
  from {
    transform: scale(1.5); }
  to {
    transform: scale(1); } }

html,
body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #FFFFFF;
  font-family: "Poppins";
  font-size: 75%;
  font-size: 14px;
  overflow: hidden; }

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-self: center;
  align-self: center; }

.App {
  width: 100%;
  /*display: flex;
    justify-content: center;
    align-items: center;*/ }

.page {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  left: 0; }

a {
  color: #5AC8FA; }

li {
  list-style-type: none;
  padding: 10px; }

h2 {
  font-family: "Poppins-Black";
  font-size: 36px; }

#SignInUp {
  width: 510px;
  padding: 15px; }

form {
  width: 100%; }

form * {
  border-radius: 0; }

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #707070;
  font-size: 14px; }

button {
  padding: 5px;
  height: 50px;
  width: 150px;
  background: black;
  border: 0;
  font-size: 14px;
  font-family: "Poppins-Black";
  color: white; }

label {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  font-size: 16px;
  text-transform: capitalize; }

.top-nav {
  width: 100vw;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .top-nav ul {
    margin: 0 100px;
    display: flex;
    justify-content: space-between; }

#nav-logo-container {
  background: #000;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

.nav__textLink {
  color: #707070;
  font-family: 'Poppins';
  font-size: 20px;
  text-decoration: none; }

.nav__textLink.active {
  font-family: 'Poppins-Bold'; }

.nav__textLink--button {
  padding: 10px 20px;
  background: #5AC8FA;
  color: #FFF;
  font-family: 'Poppins-Medium';
  border-radius: 23px; }

.iconNav__iconLink {
  color: #707070;
  opacity: 0.5;
  font-size: 20px;
  text-decoration: none; }

.iconNav__iconLink.active {
  opacity: 1; }

#date-counter {
  font-family: 'Poppins-Bold';
  font-size: 62px; }
